<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Web app</title>

    <!--Styles and Fonts-->
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />

</head>
<body>

<h1 class="title margin_top_25">Face Recognition</h1>
<div class="container margin_top_40 js-dropArea">
    <div class="container__title margin_top_170">Drop pictures or
        <span class="js-input container__title--underline">browse</span>
    </div>
</div>
<button class="btn btn__text margin_top_18 js-btn" type="submit">Recognize</button>
<input class="js-input-hide hide" type="file" name="myImage" accept="image/*" />

<!--JQuery and Custom js-->

<script src="js/lib/jquery-3.0.0.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>